<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.groupboys.kumpulanvideoanak">
	
	<application
			android:allowBackup="true"
			android:icon="@mipmap/li"
			android:label="@string/app_name"
			android:roundIcon="@mipmap/ic_launcher_round"
			android:supportsRtl="true"
			android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
		<activity
				android:name=".MainActivity"
				android:screenOrientation="landscape">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
				android:name=".Baru"
				android:screenOrientation="landscape">
		</activity>
		<activity
				android:name=".VideoNussa"
				android:screenOrientation="landscape">
		</activity>
		<activity
				android:name=".VideoUpin"
				android:screenOrientation="landscape">
		</activity>
		<activity android:name=".Vidio_dragon"
				android:screenOrientation="landscape">
		</activity>
		<activity android:name=".Doraemon"
				android:screenOrientation="landscape">
		</activity>
		<activity android:name=".Boboiboy"
				android:screenOrientation="landscape">
		</activity>
		<activity android:name=".Larva"
				android:screenOrientation="landscape">
		</activity>
	</application>

</manifest>